section {
    position: relative;
    padding: 3rem 1rem;
    background: linear-gradient(180deg, rgba(2, 4, 18, 0) 0%, #020412 30.98%);
    z-index: 1;
    overflow: hidden;
}

section::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url("/images/wall.png") center/cover no-repeat;
    opacity: 0.07;
    z-index: 0;
}

section > * {
    position: relative;
    z-index: 1;
}

.trustee {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
}

section h2 {
    font-size: 1.8rem;
    margin-bottom: 1.2rem;
    font-weight: 900;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
    width: 100%;
}

section h2 span:first-of-type {
    display: block;
    font-size: 0.85rem;
    font-weight: 500;
    margin-top: 0.8rem;
    color: #BBBBBB;
    opacity: 0.7;
    width: 100%;
}

section p {
    margin: 1.5rem 0;
    font-size: 1.18rem;
    line-height: 1.6;
    color: #D2D2D2;
    opacity: 0.9;
    width: 100%;
}

section span:last-of-type {
    display: block;
    font-size: 0.9rem;
    margin: 2rem 0 1rem 0;
    color: #D2D2D2;
    font-weight: 400;
    opacity: 0.7;
    width: 100%;
}

.trustee img {
    max-width: 100%;
    border-radius: 8px;
    margin-top: 1rem;
    border-radius: 19.03px;
    border-width: 14.27px;
    border: 10px solid #FFFFFF2E;
}
