* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body,
html {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-size: 16px;
  background: #030517;
  scroll-behavior: smooth;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.08); }
  100% { transform: scale(1); }
}
